body{
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background:  linear-gradient(135deg,#0B0B45,#06038D);
}
.registrationbox{
	max-width: 700px;
	width: 100%;
	background: lightblue;
	padding: 25px 30px;
	border-radius: 5px;
	border: 5px solid black;
	
}
.registrationbox .title{
	font-size: 25px;
	font-weight: 500;
	position: relative;
	
}
.registrationbox .title::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 30px;
	background: linear-gradient(to right,#0B0B45,#06038D);
}
.registrationbox form .user-details{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
form .user-details .input-box{
	
	margin-bottom: 5px;
	width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}
.user-details .input-box input{
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding-left: 15px;
	font-size: 16px;
	border-bottom-width:2px;
	transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
	border-color: #06038D;
}
form .gender-details .gender-title{
	font-size: 20px;
	font-weight: 500;
}
form .gender-details .category{
	display: flex;
	width: 40%;
	margin: 14px 0;
	justify-content: space-between;
}
.gender-details .category label{
	display: flex;
	align-items: center;
}
.gender-details .category .dot{
	height: 10px;
	width: 10px;
	background: #fff;
	border-radius: 50%;
	margin-right: 5px;
	border: 4px solid #fff;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two{
	border-color: #fff;
	background: black;
}
form input[type="radio"]{
	display: none;
}
form .button{
	height: 45px;
	margin: 45px 0;
}
form .button input{
	height: 100%;
	width:100%;
	outline: none;
	color: lightblue;
	border:none;
	font-size: 18px;
	font-weight:500;
	border-radius: 5px;
	letter-spacing: 1px;
	background: #fff;
}

form .button input:hover{
	background:#06038D;
}
@media (max-width:584px){
	.registrationbox{
		max-width: 100%;
	}

	form .user-details .input-box{
		margin-bottom: 15px;
		width: 100%;
	}
	form .gender-details .category {
		width: 100%;
	}
	.registrationbox form.user-details{
		max-height: 300;
		overflow-y: scroll;
	}
	.user-details::webkit-scrollbar{
		width: 0;
	}
}